*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

.header, 
.footer {
    padding: 20px;
    padding-left: 80px;
    background-color: #f7f8f8;
    text-transform: uppercase;
    font-size: 0.8em;
}

.header-bottom-bar{
    padding: 20px;
    padding-left: 80px;
    box-shadow: 0 1px  1px #00000041;
}


.a{
    text-decoration: none;
}
.top-bar-items img{
        height: 20px;
        width: 50px;
        
}
.top-bar-items{
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.header-bottom{
    padding-top: 10px;
}
.selectinput{
    padding: 10px;
    width: 200px;
}

.search{
    width: 40vw;
}
.fa-magnifying-glass{
    background-color: #002f34;
    color: #fff;
    padding: 17px;
    border-radius: 5px;
}

.sell-button{
    margin-left: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    border-bottom: 3px solid #3a77ff;
    border-top: 3px solid #3a77ff;
    border-left: 3px solid #ffce32;
    border-right: 3px solid #23e5db ;
}

.top-bar-icon{
    padding: 20px;
    font-size: 20px;
}

.li-menu{
    display: inline-block;
    padding-right: 10px;
    font-size: 0.8em;
}

.li-menu:hover{
    color: #46aca9;
    cursor: pointer;
}

.txt-bold{
    font-weight: blue;
}

.mySlides{
    width: 100%;
    border-radius: 5px;
}

.header-ad,
.cat-area{
    padding: 0 80px;
    margin-top: 10px;   
}

.cat-card{
    max-width: 100px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 20px 20px;
    padding-right: 10px;
    margin-left: 0;
}

.cat-card img{
    width: 70px;
}

.ad-card{
    cursor: pointer;
    display: inline-block;
    border: 1px solid #bfbfbf;
    width: 280px;
    margin: 20px 5px;
    border-radius: 5px;
    overflow: hidden;
}

.ad-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.pricing{
    padding: 10px;
    font-weight: bold;
}

.ad-desc,
.loaction{
    padding: 10px;
}

.fa-heart{
    float:right;
}

.small-txt{
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 5px;
}
.location p{
    padding-left: 10px;
}
.bottom-link-img{
    width: 100%;
}

.footer-links-head{
    margin-bottom: 10px;
}

.footer-links{
    list-style: none;
    margin-bottom: 3px;
    color: #6c6c6c;
}

.footer-coloum{
    margin-right: 20px;
    display: inline-block;
    width: 15%;
}

.footer-coloum2{
    width: 20%;
}

.social-footer-links{
    margin-right: 10px;
}